* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

a {
  text-decoration: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.83);
  top: 0;
  left: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.pattern {
  background: url(../images/pattern.png);
  height: 100%;
  opacity: .05;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100vw;
  -webkit-box-shadow: 0 5px 16px #00000040;
          box-shadow: 0 5px 16px #00000040;
  height: 100px;
  background-color: #6092db;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F7F7F7;
  width: 50vw;
  height: 100vh;
  text-align: center;
  z-index: 20;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ham-x-wrapper {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1.35rem auto;
}

.none {
  visibility: hidden;
  opacity: 0;
}

ul {
  list-style: none;
  text-align: left;
  width: 100%;
}

ul li {
  padding: 10px 20px;
}

ul li a {
  font-weight: 300;
  color: #666;
  line-height: 1.5;
  letter-spacing: normal;
}

ul li .admin-href {
  padding: 1rem;
  border: 1px solid blue;
  color: blue;
}

.admin-page-wrapper .h1 {
  margin: 120px auto 20px auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 4px solid #295aa3;
  width: 90%;
  color: #295aa3;
}

.add-categories,
.edit-categories,
.list-categories {
  border-radius: 10px;
  border: 0;
  text-align: center;
  -webkit-box-shadow: 0 4px 20px #00000017;
          box-shadow: 0 4px 20px #00000017;
  background-color: #fff;
  width: 90%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 20px;
}

.edit-categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-categories-input {
  width: 92%;
  display: block;
  margin: 12px auto;
  height: 2rem;
  border-radius: 8px;
  padding: 5px 20px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #333;
  line-height: normal;
}

.edit-categories-submit {
  background: #6596dd;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font: 300 15px 'Roboto', sans-serif;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
}

.add-cat {
  width: 92%;
  display: block;
  margin: 12px auto;
  height: 2rem;
  border-radius: 8px;
  padding: 5px 20px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #333;
  line-height: normal;
}

.submit-add-cat {
  background: #6596dd;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font: 300 15px 'Roboto', sans-serif;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
}

.id-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.value-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-all {
  font-size: 10px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  -webkit-box-shadow: 0 4px 20px #00000017;
          box-shadow: 0 4px 20px #00000017;
  background-color: #fff;
  width: 90%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 20px;
  max-width: auto;
  overflow: scroll;
}

.view-all .db-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.view-all .db-table .table-head {
  display: table-header-group;
  color: white;
}

.view-all .db-table .table-head .table-tr {
  display: table-row;
}

.view-all .db-table .table-head .table-tr .table-th {
  display: table-cell;
  font-size: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: #333333;
  padding: 0 .25rem;
}

.view-all .db-table .table-body {
  display: table-row-group;
}

.view-all .db-table .table-body:nth-child(even) {
  background-color: rgba(51, 51, 51, 0.1);
}

.view-all .db-table .table-body .table-tr {
  display: table-row;
}

.view-all .db-table .table-body .table-tr .table-td {
  display: table-cell;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.db-img {
  width: 50px;
  height: 50px;
}

.edit-post {
  border-radius: 10px;
  border: 0;
  text-align: center;
  -webkit-box-shadow: 0 4px 20px #00000017;
          box-shadow: 0 4px 20px #00000017;
  background-color: #fff;
  width: 90%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 20px;
}

.edit-post .edit-post-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.edit-post .edit-post-wrapper input[type="submit"] {
  background: #6596dd;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font: 300 15px 'Roboto', sans-serif;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

.edit-post .edit-post-wrapper .form-control {
  width: 92%;
  display: block;
  margin: 12px auto;
  height: 2rem;
  border-radius: 8px;
  padding: 5px 20px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #333;
  line-height: normal;
}

.add-form {
  border-radius: 10px;
  border: 0;
  text-align: center;
  -webkit-box-shadow: 0 4px 20px #00000017;
          box-shadow: 0 4px 20px #00000017;
  background-color: #fff;
  width: 90%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 20px;
}

.add-form label {
  text-align: left;
  margin-left: 1rem;
}

.add-form .edit-post-wrapper-select {
  width: 20%;
  margin: 1rem auto 1rem 1.5rem;
}

.add-form .post-image {
  margin: 1rem auto 1rem 1.5rem;
}

.add-form .add {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 0 auto;
}

.add-form .add .add-input {
  width: 92%;
  display: block;
  margin: 12px auto;
  height: 2rem;
  border-radius: 8px;
  padding: 5px 20px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #333;
  line-height: normal;
}

.add-form .add .submit-form {
  background: #6596dd;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font: 300 15px 'Roboto', sans-serif;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
  width: 20%;
  margin: 0 auto;
}

.add-form .add-select {
  margin: .5rem auto;
}

.add-form .add-select .add-select-wrapper {
  width: 92%;
  margin: 0 auto;
  border: none;
}

.edit-categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-add,
.back-btn {
  background: #6596dd;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  font: 300 15px 'Roboto', sans-serif;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 1rem auto 0rem auto;
}

.brand-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.user span {
  color: white;
  font-size: 1rem;
}

@media only screen and (min-width: 800px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    height: 120px;
    width: 100%;
    padding-bottom: 0;
    border-radius: 0 0 63px 63px;
        grid-template-areas: "brand user" "nav nav";
  }
  .brand {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: brand;
    text-align: center;
  }
  .brand .brand-link {
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
  }
  .user {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: user;
    text-align: center;
  }
  .user span {
    font-size: 1.75rem;
  }
  .nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
    opacity: 1;
    visibility: visible;
    width: 95%;
    border-radius: 100px;
    background: #333;
    border-bottom: 2px solid #437bd0;
    margin: 1rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav ul li {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-transition: .25s;
    transition: .25s;
    border-right: 1px solid #535353;
  }
  .nav ul li:hover {
    background-color: black;
    color: white;
  }
  .nav ul li a {
    color: #fff;
    font-size: 12px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .nav ul li .admin-href {
    border: none;
  }
  .ham-x_none,
  .ham_none {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .admin-page-wrapper .h1 {
    margin: 160px auto 20px auto;
  }
}

@media only screen and (min-width: 1200px) {
  #root {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1400px) {
  .nav ul li a {
    font-size: 1rem;
  }
}

.so-red {
  color: red;
}

.cat-added {
  text-align: center;
  margin: 0;
  color: green;
  font-size: 1rem;
}

.dashboard-wrapper {
  border-radius: 10px;
  border: 0;
  text-align: center;
  -webkit-box-shadow: 0 4px 20px #00000017;
          box-shadow: 0 4px 20px #00000017;
  background-color: #fff;
  width: 90%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 20px;
  text-align: left;
  padding: 2rem 4rem;
}

.dashboard-wrapper h2 {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=index.css.map */